<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>D20</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>blue</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Blue-AppIcon~iPhone-20</string>
					<string>Blue-AppIcon~iPhone-29</string>
					<string>Blue-AppIcon~iPhone-40</string>
					<string>Blue-AppIcon~iPhone-60</string>
				</array>
			</dict>
			<key>brown</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Brown-AppIcon~iPhone-20</string>
					<string>Brown-AppIcon~iPhone-29</string>
					<string>Brown-AppIcon~iPhone-40</string>
					<string>Brown-AppIcon~iPhone-60</string>
				</array>
			</dict>
			<key>green</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Green-AppIcon~iPhone-20</string>
					<string>Green-AppIcon~iPhone-29</string>
					<string>Green-AppIcon~iPhone-40</string>
					<string>Green-AppIcon~iPhone-60</string>
				</array>
			</dict>
			<key>olive</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Olive-AppIcon~iPhone-20</string>
					<string>Olive-AppIcon~iPhone-29</string>
					<string>Olive-AppIcon~iPhone-40</string>
					<string>Olive-AppIcon~iPhone-60</string>
				</array>
			</dict>
			<key>pink</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Pink-AppIcon~iPhone-20</string>
					<string>Pink-AppIcon~iPhone-29</string>
					<string>Pink-AppIcon~iPhone-40</string>
					<string>Pink-AppIcon~iPhone-60</string>
				</array>
			</dict>
			<key>purple</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Purple-AppIcon~iPhone-20</string>
					<string>Purple-AppIcon~iPhone-29</string>
					<string>Purple-AppIcon~iPhone-40</string>
					<string>Purple-AppIcon~iPhone-60</string>
				</array>
			</dict>
			<key>red</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Red-AppIcon~iPhone-20</string>
					<string>Red-AppIcon~iPhone-29</string>
					<string>Red-AppIcon~iPhone-40</string>
					<string>Red-AppIcon~iPhone-60</string>
				</array>
			</dict>
			<key>tan</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Tan-AppIcon~iPhone-20</string>
					<string>Tan-AppIcon~iPhone-29</string>
					<string>Tan-AppIcon~iPhone-40</string>
					<string>Tan-AppIcon~iPhone-60</string>
				</array>
			</dict>
			<key>white</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>White-AppIcon~iPhone-20</string>
					<string>White-AppIcon~iPhone-29</string>
					<string>White-AppIcon~iPhone-40</string>
					<string>White-AppIcon~iPhone-60</string>
				</array>
			</dict>
			<key>yellow</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Yellow-AppIcon~iPhone-20</string>
					<string>Yellow-AppIcon~iPhone-29</string>
					<string>Yellow-AppIcon~iPhone-40</string>
					<string>Yellow-AppIcon~iPhone-60</string>
				</array>
			</dict>
		</dict>
	</dict>
	<key>CFBundleIcons~ipad</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>blue</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Blue-AppIcon~iPad-20</string>
					<string>Blue-AppIcon~iPad-29</string>
					<string>Blue-AppIcon~iPad-40</string>
					<string>Blue-AppIcon~iPad-76</string>
					<string>Blue-AppIcon~iPad-83.5</string>
				</array>
			</dict>
			<key>brown</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Brown-AppIcon~iPad-20</string>
					<string>Brown-AppIcon~iPad-29</string>
					<string>Brown-AppIcon~iPad-40</string>
					<string>Brown-AppIcon~iPad-76</string>
					<string>Brown-AppIcon~iPad-83.5</string>
				</array>
			</dict>
			<key>green</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Green-AppIcon~iPad-20</string>
					<string>Green-AppIcon~iPad-29</string>
					<string>Green-AppIcon~iPad-40</string>
					<string>Green-AppIcon~iPad-76</string>
					<string>Green-AppIcon~iPad-83.5</string>
				</array>
			</dict>
			<key>olive</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Olive-AppIcon~iPad-20</string>
					<string>Olive-AppIcon~iPad-29</string>
					<string>Olive-AppIcon~iPad-40</string>
					<string>Olive-AppIcon~iPad-76</string>
					<string>Olive-AppIcon~iPad-83.5</string>
				</array>
			</dict>
			<key>pink</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Pink-AppIcon~iPad-20</string>
					<string>Pink-AppIcon~iPad-29</string>
					<string>Pink-AppIcon~iPad-40</string>
					<string>Pink-AppIcon~iPad-76</string>
					<string>Pink-AppIcon~iPad-83.5</string>
				</array>
			</dict>
			<key>purple</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Purple-AppIcon~iPad-20</string>
					<string>Purple-AppIcon~iPad-29</string>
					<string>Purple-AppIcon~iPad-40</string>
					<string>Purple-AppIcon~iPad-76</string>
					<string>Purple-AppIcon~iPad-83.5</string>
				</array>
			</dict>
			<key>red</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Red-AppIcon~iPad-20</string>
					<string>Red-AppIcon~iPad-29</string>
					<string>Red-AppIcon~iPad-40</string>
					<string>Red-AppIcon~iPad-76</string>
					<string>Red-AppIcon~iPad-83.5</string>
				</array>
			</dict>
			<key>tan</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Tan-AppIcon~iPad-20</string>
					<string>Tan-AppIcon~iPad-29</string>
					<string>Tan-AppIcon~iPad-40</string>
					<string>Tan-AppIcon~iPad-76</string>
					<string>Tan-AppIcon~iPad-83.5</string>
				</array>
			</dict>
			<key>white</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>White-AppIcon~iPad-20</string>
					<string>White-AppIcon~iPad-29</string>
					<string>White-AppIcon~iPad-40</string>
					<string>White-AppIcon~iPad-76</string>
					<string>White-AppIcon~iPad-83.5</string>
				</array>
			</dict>
			<key>yellow</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Yellow-AppIcon~iPad-20</string>
					<string>Yellow-AppIcon~iPad-29</string>
					<string>Yellow-AppIcon~iPad-40</string>
					<string>Yellow-AppIcon~iPad-76</string>
					<string>Yellow-AppIcon~iPad-83.5</string>
				</array>
			</dict>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIAppFonts</key>
	<array>
		<string>Acumin Pro Wide Light.otf</string>
		<string>Acumin Pro Wide Semibold.otf</string>
		<string>Acumin Pro Wide Regular.otf</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
